.header {
  padding: 1rem 2rem;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--accent);

  .nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  a {
    text-decoration: none;
    color: var(--text);

    &:hover {
      color: var(--accent);
    }
  }
}
